<div class="container">
  <div class="d-flex align-items-center justify-content-center flex-column gap-4 mt-7 mb-7">
      <form class="d-flex col-md-10">
          <input class="form-control me-3" type="search" placeholder="Busca tu servicio" aria-label="Search">
          <button class="btn btn-primary" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
          </button>
      </form>
  </div>
</div>


<div class="container">
  <div id="index">
    <div class="my-4 text-center">
      <h1>Encuentra tu actividad ideal</h1>
    </div>
    <div class="cards">
      <% @services.each do |service| %>
        <div class="box">
          <div class="card">
            <%= cl_image_tag service.photos.first.key, class:"card-img-top", height: 200, width: 400, crop: :fill %>
            <div class="card-body">
              <h3><strong><%= service.title %></strong></h3>
              <p>Dueño: <%= service.user.first_name %></p>
              <p>Fecha: <%= service.date %></p>
            </div>
            <div class="card-body d-flex align-items-end justify-content-between">
              <%= link_to "Ver más", service_path(service), class:"btn btn-success" %>
              <!--<p class="m-0">Rating: <strong><%= service.rating %></strong> <i class="fas fa-star" style="color: #FFD43B;"></i></p>-->
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
