<div class="container">
    <form class="row g-4" data-controller="search" data-action="submit->search#filter">
      <div class="col-12">
        <label for="inputAddress" class="form-label"></label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Busca tu proximo destino" data-search-target="input" data-action="keyup->search#search">
        <div data-search-target="suggestions" class="d-none border rounded p-3 mt-2">
        </div>
      </div>
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary w-100">Buscar</button>
      </div>
    </form>

  <div id="index">
    <div class="my-4 text-center">
      <h1>Encuentra tu actividad ideal</h1>
    </div>
    <div class="cards" data-aos="fade-down">
      <% @services.each do |service| %>
          <div class="card" data-aos="zoom-in">
            <%= cl_image_tag service.photos.first.key, class:"card-img-top", height: 200, width: 400, crop: :fill %>
            <div class="card-body">
              <h3><strong><%= service.title %></strong></h3>
              <p>Dueño: <%= service.user.first_name %></p>
              <p>Fecha: <%= service.date %></p>
            </div>
            <div class="card-body d-flex align-items-end justify-content-between">
              <%= link_to "Ver más", service_path(service), class:"btn btn-success" %>
              <% review_services = 0 %>
              <% service.reviews.each do |review| %>
                  <% review_services += review.rating%>
              <% end %>
              <% if review_services == 0 || review_services.nil? %>
                <p class="m-0">Rating: <strong><i class="far fa-star" style="color: #FFD43B;"></i></strong></p>
              <% else %>
                <p class="m-0">Rating: <strong><%= "#{'⭐' * (review_services / service.reviews.length).to_i }"  %></strong></p>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
