<div class="container mt-4">
  <div class="d-flex">
    <% @service.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
  <div class="row ms-5">
    <div class="col-8">
      <div class="card-category mb-5 p-4">
        <h1><%= @service.title %></h1>
        <p class="" style="font-style: Italic; opacity: 0.5">ID: <%= @service.id %></p>
        <p>Fecha: <strong><%= @service.date %></strong></p>
        <p> Dirección: <strong><%= @service.address %></strong></p>
        <p>Precio por persona: <strong>$<%= @service.price %></strong></p>
        <p>Rating: <strong><%= @service.rating %></strong> <i class="fas fa-star" style="color: #FFD43B;"></i></p>
      </div>
      <div class="card-category mb-5 p-4">
        <%= @service.description %>
      </div>
      <div class="">
        <%= link_to "Volver a todos los servicios", services_path, class:"btn btn-secondary" %>
      </div>
    </div>
    <div class="col-4 text-center">
      <div class="card-category p-3">
        <%= simple_form_for [@service, @line_item], method: :post do |f| %>
          <%= f.input :qtty, label: "Cantidad de personas", class:"", as: :numeric, input_html: {placeholder: 1, value: 1}, required: true%>
          <%#= f.hidden_field :service_id, input_html: {value: params[:service_id]}, as: :numeric %>
          <%= f.button :submit, class: 'btn btn-success', value:"Añadir al carrito"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
