  <style>
    .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>

<div class="container pt-2">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
            <div class="card-body p-5 shadow-5 text-center form-outline mb-4">
            <h2 class="fw-bold mb-5">Registrarse</h2>
                          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), wrapper: :floating_labels_form, wrapper_mappings:{select: :floating_labels_select} ) do |f| %>
                            <%= f.error_notification %>

                              <%= f.input :first_name,
                                          required: true,
                                          placeholder: "",
                                          autofocus: true %>
                              <%= f.input :last_name,
                                          required: true,
                                          placeholder: "",
                                          autofocus: true %>
                              <%= f.input :address,
                                          required: true,
                                          placeholder: "",
                                          autofocus: true %>
                              <%= f.input :phone,
                                          required: true,
                                          autofocus: true,
                                          placeholder: "",
                                          input_html: { autocomplete: "phone" }%>
                              <%= f.input :dni,
                                          required: true,
                                          placeholder: "",
                                          autofocus: true %>
                              <%= f.input :email,
                                          placeholder: "",
                                          required: true,
                                          input_html: { autocomplete: "email" }%>
                              <%= f.input :password,
                                          required: true,
                                          placeholder: "",
                                          hint: ("#{@minimum_password_length} características mínimas." if @minimum_password_length),
                                          input_html: { autocomplete: "new-password" } %>
                              <%= f.input :password_confirmation,
                                          required: true,
                                          placeholder: "",
                                          input_html: { autocomplete: "new-password" } %>
                              <%= f.input :photo, as: :file, label:"Foto de perfil", required: true %>
                            <div class="form-actions btn btn-primary btn-block mb-4">
                              <%= f.button :submit, "Sign up" %>
                            </div>
                          <% end %>

                          <%= render "devise/shared/links" %>

        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-5 ">
        <img src="https://cdn.wallpapersafari.com/38/84/mWIugM.jpg" class="w-100 rounded-4 shadow-4" style="margin-left:60px"
          alt="" />
      </div>
  </div>
</div>
