  <div id="container" class="d-flex justify-content-center align-item-center">
    <div id="profilecontainer" class="text-center mt-5" >
        <div id="part1">
            <%= cl_image_tag @user.photo.key, class:"img-fluid my-5", id:"person"  %>
            <div class="mb-3 d-flex justify-content-center" >
                <div class="card-category w-50">
                  <h1 ><%= @user.first_name %> <%= @user.last_name %></h1>
                </div>
            </div>

            <div>
              <a href="#"><i class="fab fa-facebook fa-lg "></i></a>
              <a href="#"><i class="fab fa-twitter fa-lg "></i></a>
              <a href="#"><i class="fab fa-instagram fa-lg "></i></a>
            </div>
        </div>
        <div id="part2">
          <div class="d-flex justify-content-center my-5">
                        <div class="mr-3">
                          <i class="fas fa-phone"></i>
                          <span><%= @user.phone %></span>
                        </div>
                        <div class="mr-3">
                          <i class="fas fa-id-card"></i>
                          <span><%= @user.dni %></span>
                        </div>
                        <div>
                          <i class="fas fa-globe"></i>
                          <span><%= @user.nationality %></span>
                        </div>
                    </div>
        </div>

    </div>
  </div>
