    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top d-block bg-white py-0 navbar-top-add" data-controller="scrollnavbar" data-action="scroll@window->scrollnavbar#changeColor" data-scrollnavbar-target="navbar">
        <div class="container p-3">
          <div class="container-logo">
            <%= image_tag "logo.png", class: "logo-medium" %>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base align-items-lg-center align-items-start">
              <li class="nav-item px-3 px-xl-4"><%= link_to "Inicio", root_path, class:"nav-link fw-medium" %></li>
              <li class="nav-item px-3 px-xl-4"><%= link_to "Servicios", services_path, class:"nav-link fw-medium" %></li>
              <% if user_signed_in? %>
                <li class="nav-item active">
                  <%= link_to cart_path(session[:cart_id]), class: "nav-link fw-medium px-5" do %>
                    <i class="fas fa-shopping-cart"></i>
                      <span class="badge badge-danger"><%= line_items_cart.length %></span>
                  <% end %>
                </li>
                <li class="nav-item dropdown">
                  <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle ms-5", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                  <div class="dropdown-menu dropdown-menu-end py-3" aria-labelledby="navbarDropdown">
                    <ul class="p-0" style="list-style:none">
                      <li><%= link_to "Perfil", user_profile_path(current_user.id), class: "dropdown-item" %></li>
                      <li><%= link_to "Mis Compritas", user_orders_path, class: "dropdown-item" %></li>
                      <li><%= link_to "Publicar un servicio", new_service_path, class: "dropdown-item" %></li>
                      <li><%= link_to "Log out",destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %></li>
                    </ul>
                  </div>
                </li>
              <% else %>
                <li class="nav-item px-3 px-xl-4"><%= link_to "Login", new_user_session_path, class:"nav-link fw-medium" %></a></li>
                <li class="nav-item px-3 px-xl-4"><%= link_to "Sign Up", new_user_registration_path, class:"btn btn-outline-dark order-1 order-lg-0 fw-medium" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% unless current_page?("/") %>
        <hr>
      <% end %>
    </nav>
