<h1>Tu pedido del carrito <%= @cart.id %></h1>

<div class="container">

  <div class="row justify-content-between">
    <div class="col-5">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Actividad</th>
            <th scope="col">Personas</th>
            <th scope="col">Precio</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
        <% @line_item.each do |item| %>
            <tr>
              <th scope="row"><%= item.service.title %></th>
              <td><%= item.qtty %></td>
              <td><%= item.price %></td>
              <td><%= item.price * item.qtty %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-5">
      Tarjeta de pago
    </div>
  </div>
</div>
<%= console %>
