<div class="container">
  <div class="row justify-content-between mt-5">
    <div class="tabla col-5 w-50 p-3 align-items-center">
      <div class="text-center">
        <h2>Tu pedido</h2>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Actividad</th>
            <th scope="col">Personas</th>
            <th scope="col">Precio</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <% @total_price = 0 %>
          <% @line_item.each do |item| %>
            <tr>
              <th scope="row"><%= item.service.title %></th>
              <td><%= item.qtty %></td>
              <td><%= item.price %></td>
              <td><%= item.price * item.qtty %></td>
            </tr>
            <% @total_price += item.price * item.qtty %>
          <% end %>

        </tbody>
      </table>
      <div class="text-end">
        <h3>Total: <%= @total_price %></h3>
      </div>
    </div>
    <div class="col-6" data-controller="card">
      <div id="checkout">
        <div class='credit-info'>
          <div class='credit-info-content'>
            <div>
              <%= image_tag 'visa.png', height: 50, class: 'credit-card-image d-none', id: 'credit-card-image', data: {card_target: "visa"}%>
              <%= image_tag 'mastercard3.png', height: 50, class: 'credit-card-image d-none', id: 'credit-card-image', data: {card_target: "mastercard"} %>
              <strong>Card Number</strong>
              <input class='input-field' data-card-target="input" data-action="keyup->card#verification"></input>
              <strong>Card Holder</strong>
              <input class='input-field'></input>
              <table class='half-input-table'>
                <tr>
                  <td> <strong>Expires</strong>
                    <input class='input-field'></input>
                  </td>
                  <td><strong>CVC</strong>
                    <input class='input-field'></input>
                  </td>
                </tr>
              </table>
            </div>
            <div class="text-center">
              <%= simple_form_for @order, method: :post do |f| %>
                <%= f.hidden_field :total_price, label: "Total", value: @total_price %>
                <%#= f.hidden_field :service_id, input_html: {value: params[:service_id]}, as: :numeric %>
                <%= f.button :submit, class: "pay-btn w-50", value: "Pagar" do %>
                  <i class="fas fa-shield-alt"></i> Pagar
                <% end %>
              <% end %>
              <!--<%= button_to orders_path, class:"pay-btn w-50" do %>
                <i class="fas fa-shield-alt"></i> Pagar
              <% end %>-->
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
