    <section style="padding-top: 7rem;">
        <div class="bg-holder" style="background-image:url(<%= asset_path 'hero-bg.svg' %>);">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-4 col-lg-5 order-0 order-md-1 text-end">
                <div class="pt-7 pt-md-0 hero-img">
                  <%= image_tag("hero-img.png")%>
                </div>
            </div>
            <div class="col-md-7 col-lg-6 text-md-left py-6">
              <h4 class="fw-bold text-danger mb-3">Best Destinations around the world</h4>
              <h1 class="hero-title">Travel, enjoy and live a new and full life</h1>
              <p class="mb-4 fw-medium">Built Wicket longer admire do barton vanity itself do in it.<br class="d-none d-xl-block" />Preferred to sportsmen it engrossed listening. Park gate<br class="d-none d-xl-block" />sell they west hard for the.</p>
              <div class="text-md-left"> <a class="btn btn-primary btn-lg me-md-4 mb-3 mb-md-0 border-0 primary-btn-shadow" href="#!" role="button">Find out more</a>
                <div class="w-100 d-block d-md-none"></div><a href="#!" role="button" data-bs-toggle="modal" data-bs-target="#popupVideo"><span class="btn btn-danger round-btn-lg rounded-circle me-3 danger-btn-shadow"> <%= image_tag("play.svg")  %></span></a><span class="fw-medium">Play Demo</span>
                <div class="modal fade" id="popupVideo" tabindex="-1" aria-labelledby="popupVideo" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                      <iframe class="rounded" style="width:100%;max-height:500px;" height="500px" src="https://www.youtube.com/embed/_lhdhL4UDIo" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- TESTIMONIAL OPEN ============================-->
      <!-- ============================================-->

     <div class="d-flex align-items-center py-5 mh-100">
        <a class="carousel-control-prev text-decoration-none " href="#mycarousel" role="button" data-bs-slide="prev">
            <div class="d-flex flex-column justify-content-center me-2 ms-auto left">Prev<span class="fas fa-arrow-left"></span> </div> <span class="sr-only">Previous</span>
        </a>
        <div class="container">
            <div id="mycarousel" class="carousel slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#mycarousel" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#mycarousel" data-bs-slide-to="1"></li>
                    <li data-bs-target="#mycarousel" data-bs-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-lg-5">
                              <div class="d-flex justify-content-center mb-4">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
                                  class="rounded-circle shadow-1-strong" width="150" height="150" />
                              </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="d-flex flex-column justify-content-center my-5 px-3 img-text">
                                    <p class="review">"We have received the best service from this person. We will definitely hire for our next project."</p>
                                        <ul class="list-unstyled d-flex justify-content-right mb-0">
                                            <li>
                                              <i class="fas fa-star fa-sm text-warning"></i>
                                            </li>
                                            <li>
                                              <i class="fas fa-star fa-sm text-warning"></i>
                                            </li>
                                            <li>
                                              <i class="fas fa-star fa-sm text-warning"></i>
                                            </li>
                                            <li>
                                              <i class="fas fa-star fa-sm text-warning"></i>
                                            </li>
                                            <li>
                                              <i class="fas fa-star fa-sm text-warning"></i>
                                            </li>
                                        </ul>
                                    <div class="person">
                                        <p class="m-0">Jason Walker</p>
                                    </div>
                                    <p class="designation">Graphics Designer</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-5">
                              <div class="d-flex justify-content-center mb-4">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
                                  class="rounded-circle shadow-1-strong" width="150" height="150" />
                              </div>
                            </div>
                            <div class="col-lg-7">
                                <div class=" d-flex flex-column justify-content-center my-5 px-3 img-text">
                                    <p class="review">"We have received the best service from this person. We will definitely hire for our next project."</p>
                                          <ul class="list-unstyled d-flex justify-content-right mb-0">
                                            <li>
                                              <i class="fas fa-star fa-sm text-warning"></i>
                                            </li>
                                            <li>
                                              <i class="fas fa-star fa-sm text-warning"></i>
                                            </li>
                                            <li>
                                              <i class="fas fa-star fa-sm text-warning"></i>
                                            </li>
                                            <li>
                                              <i class="fas fa-star fa-sm text-warning"></i>
                                            </li>
                                            <li>
                                              <i class="fas fa-star fa-sm text-warning"></i>
                                            </li>
                                          </ul>
                                    <div class="person">
                                        <p class="m-0">Mike Jones</p>
                                    </div>
                                    <p class="designation">Human Resource Manager</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-5 ">
                              <div class="d-flex justify-content-center mb-4">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
                                  class="rounded-circle shadow-1-strong" width="150" height="150" />
                              </div>
                            </div>
                            <div class="col-lg-7">
                                <div class=" d-flex flex-column justify-content-center my-5 px-3 img-text">
                                    <p class="review">"We have received the best service from this person. We will definitely hire for our next project."</p>
                                      <ul class="list-unstyled d-flex justify-content-right mb-0">
                                            <li>
                                              <i class="fas fa-star fa-sm text-warning"></i>
                                            </li>
                                            <li>
                                              <i class="fas fa-star fa-sm text-warning"></i>
                                            </li>
                                            <li>
                                              <i class="fas fa-star fa-sm text-warning"></i>
                                            </li>
                                            <li>
                                              <i class="fas fa-star fa-sm text-warning"></i>
                                            </li>
                                            <li>
                                              <i class="fas fa-star fa-sm text-warning"></i>
                                            </li>
                                      </ul>
                                    <div class="person">
                                        <p class="m-0">Stephen Jones</p>
                                    </div>
                                    <p class="designation">Web Developer</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-next text-decoration-none " href="#mycarousel" role="button" data-bs-slide="next">
            <div class="d-flex flex-column justify-content-center right ms-2 me-auto"> Next <span class="fas fa-arrow-right"></span> </div> <span class="sr-only">Next</span>
        </a>
    </div>

      <!-- PARTNERS OPEN ============================-->
      <!-- ============================================-->

      <div class="position-relative pt-9 pt-lg-8 pb-6 pb-lg-8">
        <div class="container">
          <div class="row row-cols-lg-5 row-cols-md-3 row-cols-2 flex-center">
            <div class="col">
              <div class="card shadow-hover mb-4" style="border-radius:10px;">
                <div class="card-body text-center"><%= image_tag("1.png")%> </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-hover mb-4" style="border-radius:10px;">
                <div class="card-body text-center"><%= image_tag("2.png")%></div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-hover mb-4" style="border-radius:10px;">
                <div class="card-body text-center"><%= image_tag("3.png")%></div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-hover mb-4" style="border-radius:10px;">
                <div class="card-body text-center"><%= image_tag("4.png")%></div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-hover mb-4" style="border-radius:10px;">
                <div class="card-body text-center"><%= image_tag("5.png")%></div>
              </div>
            </div>
          </div>
        </div>
      </div>
