      <!-- BANNER OPEN ============================-->
      <!-- ============================================-->

        <div class="container">
          <div class="row mt-5">
            <div class="col-md-4 col-lg-6 order-0 order-md-1 text-end">
                  <%= image_tag "hero-img.png", class:"pt-7 pt-md-0 hero-img"%>
            </div>
            <div class="col-md-7 col-lg-6 text-md-start py-4">
              <h2 class="fw-bold text-danger">Busca tu pr칩ximo destino</h2>
              <h3 class="mb-3"> Y encuentra el mejor paquete que se adapte a ti </h3>
              <%= render "form" %>
              </div>
            </div>
          </div>

      <!-- SECTION OPEN ============================-->
      <!-- ============================================-->

      <div class="container">
        <div class="container mt-8 mb-10">
          <h2 class="fw-bold text-danger mt-8 mb-6">Los destino m치s populares</h2>
          <div id="carouselExampleSlidesOnly" data-bs-interval="2000" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="d-flex">
                  <%= image_tag "playa 1.jpeg", class:"d-block w-50 vh-50"%>
                  <div class="ms-5 mt-4">
                    <h1 class="fw-bold">Cayo Sombrero</h1>
                    <hr class="border border-warning">
                    <p>Es la isla m치s grande despu칠s de Punta Brava y una de las islas m치s populares del parque nacional.
                    Posee una superficie aproximada de 35 hect치reas o 0,35 kil칩metros cuadrados por lo que tiene una superficie
                    un poco m치s peque침a que la Ciudad del Vaticano. Cuenta con dos playas grandes y un bosque de palmeras que
                    ofrece sombra natural. Es equidistante de las poblaciones de Tucacas y Chichiriviche. Se encuentra en la
                    parte m치s oriental del parque nacional Morrocoy, cerca de Cayo Pescadores y Playa Mayoral.</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-flex">
                  <%= image_tag "colonia_tovar.JPG", class:"d-block w-50 vh-50"%>
                    <div class="ms-5 mt-4">
                      <h1 class="fw-bold">Colonia Tovar</h1>
                        <hr class="border border-warning">
                        <p>La Colonia Tovar es una ciudad venezolana, capital del Municipio Tovar, en el Estado Aragua. Fue fundada el 8 de abril de 1843
                        por un grupo de inmigrantes alemanes provenientes del entonces Gran Ducado de Baden (luego incorporado a Alemania).
                        Se caracteriza por mantener la impronta cultural de su origen, por lo que es llamada 춺la Alemania del Caribe췉 o 춺El Pueblo Alem치n de Venezuela.</p>
                    </div>
                  </div>
                </div>
              <div class="carousel-item">
                <div class="d-flex">
                  <%= image_tag "canaima.jpeg", class:"d-block w-50 vh-50"%>
                    <div class="ms-5 mt-4">
                      <h1 class="fw-bold">Parque Nacional Canaima</h1>
                        <hr class="border border-warning">
                        <p>Viajar al Salto 츼ngel en el Parque Nacional Canaima es una aventura que te llenara de vida. Canaima es una de las principales atracciones de Venezuela, es la 칰nica laguna donde se unen cinco saltos, aqu칤 se encontraras la ca칤da de agua m치s alta del mundo</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- TESTIMONIAL OPEN ============================-->
      <!-- ============================================-->

        <div class="container">
          <div class="d-flex align-items-center py-5 mh-100 position-relative">
              <a class="carousel-control-prev text-decoration-none " href="#mycarousel" role="button" data-bs-slide="prev">
                <div class="position-absolute d-flex flex-column justify-content-center me-2 ms-auto left top-0">Prev<span class="fas fa-arrow-left"></span> </div> <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next text-decoration-none" href="#mycarousel" role="button" data-bs-slide="next">
                <div class="d-flex flex-column justify-content-center right ms-2 me-auto position-absolute right-0 top-0"> Next <span class="fas fa-arrow-right"></span> </div> <span class="sr-only">Next</span>
              </a>
              <div class="container">
                  <div id="mycarousel" class="carousel slide" data-bs-ride="carousel">
                      <ol class="carousel-indicators">
                          <li data-bs-target="#mycarousel" data-bs-slide-to="0" class="active"></li>
                          <li data-bs-target="#mycarousel" data-bs-slide-to="1"></li>
                          <li data-bs-target="#mycarousel" data-bs-slide-to="2"></li>
                      </ol>
                      <div class="carousel-inner">
                          <div class="carousel-item active">
                              <div class="row">
                                  <div class="col-lg-5">
                                    <div class="d-flex justify-content-center mb-4">
                                      <img src="https://media-cdn.tripadvisor.com/media/photo-l/1d/20/e8/0c/lulitasampedrina.jpg"
                                        class="rounded-circle shadow-1-strong" width="150" height="150" />
                                    </div>
                                  </div>
                                  <div class="col-lg-7">
                                      <div class="d-flex flex-column justify-content-center my-5 px-3 img-text">
                                          <p class="review">"La plataforma es llevadera y siempre consigo precios buenos. Mi experiencia en otra ocasiones que he alquilado con ustedes es muy buena y nunca he tenido problemas. Gracias 游뗵"</p>
                                              <ul class="list-unstyled d-flex justify-content-right mb-0">
                                                  <li>
                                                    <i class="fas fa-star fa-sm text-warning"></i>
                                                  </li>
                                                  <li>
                                                    <i class="fas fa-star fa-sm text-warning"></i>
                                                  </li>
                                                  <li>
                                                    <i class="fas fa-star fa-sm text-warning"></i>
                                                  </li>
                                                  <li>
                                                    <i class="fas fa-star fa-sm text-warning"></i>
                                                  </li>
                                                  <li>
                                                    <i class="fas fa-star fa-sm text-warning"></i>
                                                  </li>
                                              </ul>
                                          <div class="person">
                                              <p class="m-0">Celia Cruz</p>
                                          </div>
                                          <p class="designation">Analista Contable</p>
                                      </div>
                                  </div>

                              </div>
                          </div>
                          <div class="carousel-item">
                              <div class="row">
                                  <div class="col-lg-5">
                                    <div class="d-flex justify-content-center mb-4">
                                      <img src="https://media-cdn.tripadvisor.com/media/photo-l/06/84/93/b5/edgardo-z.jpg"
                                        class="rounded-circle shadow-1-strong" width="150" height="150" />
                                    </div>
                                  </div>
                                  <div class="col-lg-7">
                                      <div class=" d-flex flex-column justify-content-center my-5 px-3 img-text">
                                          <p class="review">"Tuve q modificar mi reservaci칩n porque la l칤nea aerea me cancel칩 un vuelo.Sareth Flores se encarg칩 de hacerme el cambio r치pido mientras habl치bamos por tel칠fono y hasta me sobr칩 dinero con la nueva reservaci칩n. Excelente"</p>
                                                <ul class="list-unstyled d-flex justify-content-right mb-0">
                                                  <li>
                                                    <i class="fas fa-star fa-sm text-warning"></i>
                                                  </li>
                                                  <li>
                                                    <i class="fas fa-star fa-sm text-warning"></i>
                                                  </li>
                                                  <li>
                                                    <i class="fas fa-star fa-sm text-warning"></i>
                                                  </li>
                                                  <li>
                                                    <i class="fas fa-star fa-sm text-warning"></i>
                                                  </li>
                                                  <li>
                                                    <i class="fas fa-star fa-sm text-warning"></i>
                                                  </li>
                                                </ul>
                                          <div class="person">
                                              <p class="m-0">Pedro Gomez</p>
                                          </div>
                                          <p class="designation">Gerente</p>
                                      </div>
                                  </div>

                              </div>
                          </div>
                          <div class="carousel-item">
                              <div class="row">
                                  <div class="col-lg-5 ">
                                    <div class="d-flex justify-content-center mb-4">
                                      <img src="https://media-cdn.tripadvisor.com/media/photo-l/1a/f6/eb/43/default-avatar-2020-11.jpg"
                                        class="rounded-circle shadow-1-strong" width="150" height="150" />
                                    </div>
                                  </div>
                                  <div class="col-lg-7">
                                      <div class=" d-flex flex-column justify-content-center my-5 px-3 img-text">
                                          <p class="review">"Fue super profesional y amable. Recibi un excelente servicio y pude completar mi solicitud gracias a su ayuda."</p>
                                            <ul class="list-unstyled d-flex justify-content-right mb-0">
                                                  <li>
                                                    <i class="fas fa-star fa-sm text-warning"></i>
                                                  </li>
                                                  <li>
                                                    <i class="fas fa-star fa-sm text-warning"></i>
                                                  </li>
                                                  <li>
                                                    <i class="fas fa-star fa-sm text-warning"></i>
                                                  </li>
                                                  <li>
                                                    <i class="fas fa-star fa-sm text-warning"></i>
                                                  </li>
                                            </ul>
                                          <div class="person">
                                              <p class="m-0">Carlos Zambrano</p>
                                          </div>
                                          <p class="designation">Desarollador</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>


      <!-- PARTNERS OPEN ============================-->
      <!-- ============================================-->

      <div class="position-relative pt-9 pt-lg-8 pb-6 pb-lg-8">
        <div class="container">
          <div class="row row-cols-lg-5 row-cols-md-3 row-cols-2 flex-center">
            <div class="col">
              <div class="card shadow-hover mb-4" style="border-radius:10px;">
                <div class="card-body text-center"><%= image_tag("1.png")%></div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-hover mb-4" style="border-radius:10px;">
                <div class="card-body text-center"><%= image_tag("2.png")%></div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-hover mb-4" style="border-radius:10px;">
                <div class="card-body text-center"><%= image_tag("3.png")%></div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-hover mb-4" style="border-radius:10px;">
                <div class="card-body text-center"><%= image_tag("4.png")%></div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-hover mb-4" style="border-radius:10px;">
                <div class="card-body text-center"><%= image_tag("5.png")%></div>
              </div>
            </div>
          </div>
        </div>
      </div>
