  <div class="container" id="show_cart">
    <div class="row mt-3">
      <% if @line_items.nil? || @line_items.empty? || params[:id].to_i != @cart.id %>
        <h1 class="mb-5">Tu carrito está vacío</h1>
        <%= link_to "Volver a todos los servicios", services_path, class:"btn btn-primary" %>
      <% else %>
       <div class="col-md-8">
          <h1>Carrito de compras</h1>
          <table class="table col-8">
            <thead>
              <tr>
                <th scope="col">Actividad</th>
                <th scope="col" class="text-center">Personas</th>
                <th scope="col" class="text-center">Precio</th>
                <th scope="col" class="text-center">Total</th>
                <th scope="col" class="text-center">Eliminar</th>
              </tr>
            </thead>
            <tbody >
              <% @line_items.each do |item| %>
                  <tr>
                    <th scope="row"><%= link_to item.service.title, service_path(item.service) %></th>
                    <td class="d-flex align-items-center justify-content-center">
                    <%= button_to "-", line_items_minus_path(item_id: item.id), style: "width:28px", id:"minus"%>
                    <strong class="mx-2"><%= item.qtty %></strong>
                    <%= button_to "+", line_items_add_path(item_id: item.id), style: "width:28px", id:"plus" %></td>
                    <td class="text-center"><%= item.price %></td>
                    <td class="text-center"><%= item.price * item.qtty %>$</td>
                    <td class="text-center"><%= link_to line_item_path(item), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do%> <i class='fas fa-trash' style='color: #fd7272;'></i> <% end %></td>
                  </tr>
              <% end %>
            </tbody>
          </table>
          <div class="d-flex justify-content-evenly row mb-5">
            <%= link_to "Pagar", new_cart_order_path(params[:id]), class:"btn btn-success col-3" %>
            <%= link_to "Volver al inicio", services_path, class:"btn btn-primary col-3" %>
            <%= link_to "Eliminar Carrito", cart_path(params[:id]), class:"btn btn-secondary col-3", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="poster w-100">
            <%= image_tag "https://i.pinimg.com/originals/d7/98/f7/d798f7fb58a28d31d835796cc633d10a.jpg", width:"100%" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
