<h1>Cantidad</h1>

<div class="card-product d-flex justify-content-center align-items-center">
  <%= cl_image_tag @service.photos.first.key, height: 300, width: 400, crop: :fill %>
  <div class="card-product-infos ms-3">
    <h2><%= @service.title %></h2>
    <p class="" style="font-style: Italic; opacity: 0.5">ID: <%= @service.id %></p>
    <p>Fecha: <%= @service.date %></p>
    <p> Dirección: <%= @service.address %></p>
    <p>Precio por persona: $<%= @service.price %></p>
    <div class="w-100">
      <%= simple_form_for @line_item do |f| %>
        <%= f.input :qtty, label: "Cantidad de personas", as: :numeric%>
        <%= f.button :submit, class: 'btn btn-success', value:"Añadir al carrito"%>
      <% end %>
    </div>
  </div>
</div>
