<!DOCTYPE html>
<html>
  <head>
    <title>Vamospila</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <% if controller_name == 'pages' && action_name == 'home' %>
      <div class="bg-holder" style="background-image:url(<%= asset_path 'hero-bg.svg' %>);"></div>
      <%= yield %>
    <% else %>
      <%= yield %>
    <% end %>
    <%= render "shared/flashes" %>
    <%= render "shared/footer"%>
    <%= console %>
  </body>
</html>
